body {
    background-color: #000;
    color: #fff;
    height: 100vh;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}

#root {
    height: 100vh;
    max-width: 780px;
    margin: 0 auto;
    transform: translateY(0);
    text-align: center;
}

.centered > * {
    margin-bottom: 1em;
}

.timer {
    border: 1px solid #fff;
    height: 35vh;
    padding: 25vh 0 0 0;
    margin-bottom: 0;
    font-size: 3em;
}

.controls {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 390px;
}

.controls button {
    display: block;
    background-color: #fff;
    padding: 1em;
    margin: 0.5em 0;
    border: none;
    font-weight: bold;
}

@media (min-width: 1024px) {
    #root {
        transform: translateY(40%);
    }

    .timer {
        height: unset;
        padding: 1em;
        margin-bottom: 1em;
    }

    .controls {
        flex-direction: row;
    }

    .controls button {
        margin: 0 1em;
    }
}
