body {
    background-color: #000;
    color: #fff;
    height: 100vh;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}

#root {
    height: 100vh;
    width: 780px;
    margin: 0 auto;
    transform: translateY(40%);
    text-align: center;
}

.centered > * {
    margin-bottom: 1em;
}

.timer {
    border: 1px solid #fff;
    padding: 2em;
}

.controls button {
    display: block;
    margin: 0 auto;
}
